/*Uncomment me once we have an asset for a nice full-page background etc*/
/*html {*/
/*    background: saddlebrown;*/
/*}*/

/*body {*/
/*    margin: 0 auto;*/
/*    max-width: 800px;*/
/*    min-height: 100svh;*/
/*}*/