:root {
  --color-white: #ffffff;
  --color-grey: #e8e8e8;
  --color-black: #000000;
  --color-air-force-blue: #5f8695ff;
  --color-light-blue: #a6d6e9ff;
  --color-palatinate-blue: #3e47cbff;
  --color-silver: #c7c4c6ff;
  --color-brown-sugar: #ffa070;
  --color-orange: #ff8a00;
  --color-orange-100: #aa5d00;
  --color-maize: #fff986;
  --color-gold: #efe845;

  --color-primary: var(--color-maize);
  --color-primary-alt: var(--color-gold);
  --color-secondary: var(--color-air-force-blue);
  --color-secondary-alt: var(--color-silver);
  --color-tertiary: var(--color-brown-sugar);

  --color-background: var(--color-light-blue);
  --color-text-primary: var(--color-black);
  --color-text-secondary: var(--color-secondary);
  --color-border: var(--color-air-force-blue);
  --color-border-focus: var(--color-secondary-alt);

  --color-input-background: var(--color-grey);
  --color-input-background-hover: var(--color-white);
  --color-input-background-focus: var(--color-input-background-hover);
  --color-input-border-focus: var(--color-primary);

  --color-link: var(--color-orange);
  --color-link-hover: var(--color-orange-100);
  --color-link-visited: var(--color-secondary);

  /* Spacing */
  --sp-unit: 0.5rem;
  --spacing-xs: var(--sp-unit);
  --spacing-s: calc(var(--sp-unit) * 2);
  --spacing-m: calc(var(--sp-unit) * 4);
  --spacing-l: calc(var(--sp-unit) * 6);
  --spacing-xl: calc(var(--sp-unit) * 8);

  --spacing-input-padding: var(--spacing-xs) var(--spacing-s);
  --spacing-section-padding-horizontal: var(--spacing-s);
  --spacing-section-padding-vertical: 0;
  --spacing-section-margin-bottom: var(--spacing-s);
  --spacing-section-margin-top: 0;

  --border-width: 1px;
  --border-style: solid;

  --border-input: var(--border-width) var(--border-style) var(--color-border);
  --border-input-focus: var(--border-width) var(--border-style)
    var(--color-border-focus);
  --border-radius-input: var(--spacing-xs);

  /* Typography */
  --font-family: "Roboto", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-base: 16px;
  --line-height-base: 1.6;

  --typography-font-size-h1: 3rem;
  --typography-line-height-h1: 1.2;
  --typography-font-size-h2: 2.5rem;
  --typography-line-height-h2: 1.3;
  --typography-font-size-h3: 2rem;
  --typography-line-height-h3: 1.4;
  --typography-font-size-h4: 1.5rem;
  --typography-line-height-h4: 1.5;
  --typography-font-size-h5: 1.25rem;
  --typography-line-height-h5: 1.6;
  --typography-font-size-h6: 1rem;
  --typography-line-height-h6: 1.6;

  --typography-font-size-small: 0.875rem;
  --typography-line-height-small: 1.5;

  --spacing-grid-cols-small: 4;
  --spacing-grid-cols-medium: 8;
  --spacing-grid-cols-large: 12;
  --spacing-grid-cols: var(--spacing-grid-cols-small);

  --spacing-grid-column-gap-s: var(--spacing-s);
  --spacing-grid-column-gap-m: var(--spacing-m);
  --spacing-grid-column-gap-l: var(--spacing-l);
  --spacing-grid-column-gap-xl: var(--spacing-xl);
  --spacing-grid-column-gap: var(--spacing-grid-column-gap-s);

  --spacing-grid-row-gap-s: var(--spacing-s);
  --spacing-grid-row-gap-m: var(--spacing-m);
  --spacing-grid-row-gap-l: var(--spacing-l);
  --spacing-grid-row-gap-xl: var(--spacing-xl);
  --spacing-grid-row-gap: var(--spacing-grid-row-gap-s);

  --grid-cols-small: 4;
  --grid-cols-medium: 8;
  --grid-cols-large: 12;
  --grid-cols: var(--grid-cols-small);
}

@media (--viewport-medium) {
  :root {
    --spacing-section-padding-horizontal: var(--spacing-m);
    --spacing-grid-cols: var(--spacing-grid-cols-medium);
    --spacing-grid-column-gap: var(--spacing-grid-column-gap-m);
    --spacing-grid-row-gap: var(--spacing-grid-row-gap-m);

    --grid-cols: var(--grid-cols-medium);
  }
}

@media (--viewport-large) {
  :root {
    --spacing-section-padding-horizontal: var(--spacing-xl);
    --spacing-grid-cols: var(--spacing-grid-cols-large);
    --spacing-grid-column-gap: var(--spacing-grid-column-gap-l);
    --spacing-grid-row-gap: var(--spacing-grid-row-gap-l);

    --grid-cols: var(--grid-cols-large);
  }
}

@media (--viewport-xlarge) {
  :root {
    --spacing-body-padding: var(--spacing-xl);
    --spacing-grid-column-gap: var(--spacing-grid-column-gap-xl);
    --spacing-grid-row-gap: var(--spacing-grid-row-gap-xl);
  }
}
