---
import Error from "../components/Error.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "404";
const description = "Page not found";
---

<BaseLayout title={{text: title}} description={description}>
	<section>
		<Error title={title} description={description}></Error>
	</section>
</BaseLayout>