---
import BaseLayout from "../layouts/BaseLayout.astro";
const title = "About Frostbreak";
const description = "Learn about our beginnings, our goals, and how to get involved.";
---
<BaseLayout title={{text: title}} description={description}>
    <section class="section">
        <h2 class="p-heading--3">Beginnings</h2>
        <p>
            Frostbreak started in November 2024 as a group of friends looking to meet others in Buffalo's queer
            community.
            We feel that it is extremely important to build friendship and community, especially as members of a
            marginalized group in today's world.
            We found each other in disparate ways; through Facebook marketplace sales, through Discord communities,
            through friend-finding apps.
        </p>
        <h2 class="p-heading--3">Building a community</h2>
        <p>
            Over time, we realized that we were accumulating resources and a sense of community that should have broader
            reach.
            We started to build outreach with posters in local points of interest, postings on social media, and passing
            out cards at Pride parades.
            We built a <a href="https://nhx.frostbreak.org">digital experience</a> with stories and art crafted by our
            community members.
            We are building a website to share resources, upcoming events, and build a digital presence.
            We created a space to request and provide mutual aid. We aim to be a go-to place for the Buffalo area queer
            community to gather, meet each other, and thrive.
        </p>
        <h2 class="p-heading--3">Get involved</h2>
        <p>
            We welcome creatures from all walks of life in and around Buffalo to join us and help to make this community
            great.
            We're looking forward to meeting you!
        </p>
        <a href="/discord" class="button primary" target="_blank">Join us on Discord &rsaquo;</a>
    </section>

</BaseLayout>