---
import BaseLayout from '../layouts/BaseLayout.astro';
import CalendarComponent from "../components/CalendarComponent.astro";
---

<BaseLayout title={{text: "Frostbreak Calendar"}} description="View upcoming events">
    <section>
        <p>We host official events multiple times per month.</p>
        <p>Members of the community may also request to add events in the <a href="https://discord.com/channels/1307831634992693379/1348703553832620113">#server-help-requests</a> Discord channel.</p>
        <p><a href="https://calendar.google.com/calendar/embed?src=4a3552720ad9760ab2cb541778e945c2b6ed261c64415a43b2757483ec732c65%40group.calendar.google.com&ctz=America%2FNew_York">Subscribe to the Frostbreak Google Calendar!</a></p>
        <CalendarComponent height={700}></CalendarComponent>
    </section>
</BaseLayout>