---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm";
const title = "Contact us";
const description = "Get in touch with the Frostbreak team for any information or inquiries you may have.";
const { PUBLIC_MAIL_CONTACT_ADDRESS } = import.meta.env;
---
<BaseLayout title={{text: title}} description={description}>
    <section class="section">
        <p>
            Generally, we encourage all inquiries to be made through our <a href="/discord">Discord server</a>.
            However, we recognize that not everyone can or wants to use Discord.
            So, if you have any questions, suggestions, or just want to say hello,
            feel free to reach out to us via email at <a href={`mailto:${PUBLIC_MAIL_CONTACT_ADDRESS}`}>{PUBLIC_MAIL_CONTACT_ADDRESS}</a>
            or through the form below.
        </p>
    </section>
    <section class="section">
        <ContactForm client:only="react" />
    </section>

</BaseLayout>