---
import UpcomingEvents from "./UpcomingEvents.astro";
---
<footer class="footer">
    <div class="grid-row">
        <div class="grid-col-6 grid-col-md-4 footer-area">
            <h4>Upcoming Events</h4>
            <UpcomingEvents/>
        </div>
        <div class="grid-col-6 grid-col-md-4">
            <div class="footer-area under-construction">
                <h4>Under Construction</h4>
                <p>This site is currently under construction.<br>Pages are subject to frequent change.</p>
                <div class="silly-construction-assets">
                    <img src="/assets/pikaconstruction.gif" alt="Pikachu in a construction hat operating a jackhammer that she is comically underqualified to operate.">
                    <div class="repeated-construction-row">
                        <img src="/assets/construction.gif" alt="A construction sign with a cartoon worker digging.">
                        <img src="/assets/construction.gif" alt="The same as the previous construction sign.">
                        <img src="/assets/construction.gif" alt="It's the same image as before. For comedic effect.">
                    </div>
                </div>
                <!--This will likely be something else like internal links later?-->
            </div>
        </div>
    </div>
</footer>

<style>
    .footer-area {
        text-align: center;
        padding: var(--spacing-m);
        background-color: var(--color-background-alt);
        border-radius: var(--border-radius-input);
    }

    .silly-construction-assets {
        flex-flow: column nowrap;

        &, &.repeated-construction-row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-s);
        }

        & .repeated-construction-row {
            flex-flow: row wrap;
        }
    }
</style>