---
interface Props {
	title: string;
	tagline?: string;
}

const { tagline, title } = Astro.props;
---

<div class="hero">
	<div class="stack gap-2">
		<h2 class="title">{title}</h2>
		{tagline && <p>{tagline}</p>}
	</div>
	<slot />
</div>
