---
const { BASE_URL } = import.meta.env;
---
<section>
    <div class="mission-statement">
        <div class="grid-row">
            <div class="grid-col-9 grid-col-md-6 grid-col-order-s-2 grid-col-order-m-1">
                <h2>Mission Statement</h2>
                <p>
                    Frostbreak is a Buffalo-based, queer-focused community. We are a gathering place, and a shelter from the storm.
                </p>
                <p>
                    We are a place to connect and support one another, and help for those who need it.
                </p>
                <p>
                    A warm reminder that although things can feel isolating, you are not alone.
                </p>
                <p>
                    <strong>We are stronger together.</strong>
                </p>
            </div>
            <div class="grid-col-3 grid-col-md-2 grid-col-order-s-1 grid-col-order-m-2">
                <div class="mission-statement__image-container">
                    <img class="mission-statement__image" src={`${BASE_URL}/assets/frostbreak-logo-with-banner-300x300.png`}
                         alt="Frostbreak Logo with banner">
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .mission-statement__image-container {
        text-align: center;

        & .mission-statement__image {
            height: 100%;
            max-width: 100%;
        }
    }
</style>

