
<p>
    Welcome. Come in out of the snow, we’ve been waiting for you.<br>
    Frostbreak is a queer-focused community, a gathering place, a shelter from the storm based around Buffalo, NY.
    A place to connect and support one another, and help for those who need it.
    A warm reminder that although it feels very isolating, you are not alone.<br>
    <strong>We are stronger together.</strong>
</p>
