<p>
    Frostbreak is a game of strategy and diplomacy set in a frozen world. Players take on the role of a faction leader,
    managing resources, forging alliances, and waging war to become the most powerful ruler in the land.
</p>