.button.no-bg {
  background: none;
}

.button,
button {
  background-color: var(--color-input-background);
  padding: var(--spacing-input-padding);
  border: var(--border-input);
  border-radius: var(--border-radius-input);
  font-weight: var(--font-weight-medium);
  cursor: pointer;

  &:hover {
    background-color: var(--color-input-background-hover);
  }

  &:focus {
    background-color: var(--color-input-background-focus);
    border: var(--border-input-focus);
  }
}

.button.secondary,
button.secondary {
  background-color: var(--color-secondary);

  &:hover {
    background-color: var(--color-secondary-dark);
  }

  &:focus {
  }
}
