button,
.button {
  --color-button-background: var(--color-input-background);
  --color-button-background-disabled: var(--color-input-background-disabled);
  --color-button-background-hover: var(--color-input-background-hover);
  --color-button-background-focus: var(--color-input-background-focus);
  --color-button-text: var(--color-text-default);
  --color-button-text-disabled: var(--color-text-disabled);
  --color-button-background-primary: var(--color-primary);
  --color-button-background-secondary: var(--color-secondary);
  --border-button: var(--border-input);
  --border-button-focus: var(--border-input-focus);

  background-color: var(--color-button-background);
  border: var(--border-button);
  border-radius: var(--border-radius-input);
  color: var(--color-button-text);
  cursor: pointer;
  display: inline-block;
  font-weight: var(--font-weight-medium);
  margin-bottom: var(--spacing-xs);
  padding: var(--spacing-input-padding);

  &.no-bg {
    background: none;
  }

  &.primary {
    --color-button-background: var(--color-button-background-primary);
    --color-button-background-hover: var(--color-primary-alt);
  }

  &.secondary {
    --color-button-background: var(--color-button-background-secondary);
  }

  &:hover {
    background-color: var(--color-button-background-hover);
  }

  &:focus {
    --color-button-background: var(--color-button-background-focus);
    --button-border: var(--border-button-focus);
  }

  &:disabled {
    background-color: var(--color-button-background-disabled);
    color: var(--color-button-text-disabled);
    cursor: not-allowed;
  }
}
