section,
.section {
  padding: var(--spacing-section-padding-top)
    var(--spacing-section-padding-horizontal)
    var(--spacing-section-padding-bottom)
    var(--spacing-section-padding-horizontal);
  margin-bottom: var(--spacing-section-margin-bottom);
  margin-top: var(--spacing-section-margin-top);

  &:not(:last-of-type):not(.u-visually-hidden) {
    border-bottom: 1px solid var(--color-text-secondary);
  }
}
