name: Push to branches

on:
  push:
    branches:
      - main
      - dev
    paths:
      - src/**
      - public/**
      - package.json
      - package-lock.json
      - astro.config.mjs

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: CI
        uses: ./.github/actions/ci

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: ./.github/actions/aws
        with:
          AWS_S3_BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET_NAME }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_ID }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
